.studysetuplablenotes{
	width:100%;
}

.studysetuplable{
	text-align:right;
	white-space: nowrap;
	padding-right:5px;
}

.studysetuplablenotes{
	text-align:right;
}

.studysetuplablenotesbutton{
	white-space: nowrap;
}